#section-1, #section-2,#section-3{
    height: 100vh;
    width: 100%;
    display: flex;
}

.welcome{
    display: flex;
    flex: 1;
    background-image: url(./image_other/Bitmap.png);
    background-size: cover;
    background-repeat: no-repeat;
     
}

#welcome_title{
    display: flex;
    flex: 1;
    color: white;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    gap: 24px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.4) 48%, rgba(0,0,0,1) 90%);
    
}

#welcome_title h1{
    font-size: 72px;
    font-weight: 500;
    cursor: default;
}

#welcome_title p{
    font-size: 20px;
    font-family: Open-Sans;
    letter-spacing: 1.28px;
    cursor: default;
}

#header{
    position: absolute;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    justify-content: flex-end;
    margin-top: 40px;
}

#menu {
    display: flex;
    flex: 0.5;
    gap: 65px;
}

#menu a{
    color: white;
    font-size: 14px;
    font-family: 'Oswald';
    letter-spacing: 2px;
    text-decoration: none;  
}
.menu_link{
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
}
.menu_link > span{
    display: block;
    width: 18px; 
    height: 2px;

    content: " ";
    background-color:  #4CAF50;  
    transition: width 0.4s ease-in-out; 
}

.menu_link:hover > span{
    width: 100%;
}


.page{
    display: flex;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.page_item{
    color:  #FFFFFF6F;
    font-size: 18px;
    font-family: 'Oswald';
    font-weight: 700;
    cursor: pointer;
}


.activ_page >p{
    color: white;
    font-size: 36px;
    font-family: 'Oswald';
    font-weight: 700;
}


#section-image{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.list-image{
    display: flex;
    width: 1182px;
    height: 559px;  
}

.list-block{
    z-index: 2;
    background-image: url(./image_other/imageone.png);
    background-repeat: no-repeat;
    background-position-x: 77%;
    
    width: 590px;
    height: 411px;
}
#list-block-1{
    margin-left: 19px;
    margin-top: 77px;
}

#list-block-1 > h1{
    font-size: 36px;
    font-family: 'Oswald';
    font-weight: 700;
    letter-spacing: 2.3px;
    line-height: 53px;
}

#list-block-1 > h2{
    font-size: 42px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2.7px;
    color: #504E4E;
    font-style: normal;
    line-height: 49px;
    font-weight: 300;
}

#list-block-2{
    display: flex;
    width: 311px;
    height: 75px;
    flex-direction: row;

    margin-top: 32px;
    margin-left: 51px;
    
}
#list-block-2>p{
    width: 281px;
    line-height: 25px;
    letter-spacing: 1.26px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    
}

#list-block-2>span{
    display: block;
    width: 20px;
    height: 2px;
    
    background: #353535;
    margin-top: 12px;
    margin-right: 10px;
    
}

.list-image > span{
    position: absolute;
    width: 309px;
    height: 418px;
    z-index: 1;
    background: #4CAF50;
    opacity: 80%;

    margin-top: 62px;
    margin-left: 401px;
}
.list-block-two>span{
    width: 309px;
    height: 391px;
    z-index: 0;

    position: absolute;
    background-image: url(./image_other/image2.png);
    
    margin-top: 168px;
    margin-right: 612px;
}
 


#list-block-text-2{
    display: flex;
    width: 311px;
    height: 75px;
    z-index: 1;

    flex-direction: row;
    position: absolute;
    
    margin-top: 404px;
    margin-left:855px;
}
#list-block-text-2>span{
    display: block;
    width: 20px;
    height: 2px;
    background: #353535;

    margin-top: 12px;
    margin-right: 10px;
}
#list-block-text-2 > p{
    width: 281px;
    line-height: 25px;
    letter-spacing: 1.26px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

}

#section_block{
    display: flex;
    justify-content: center;
    background: #f1f0f09d ;
    width: 100%;
    height: 100vh;
}
#services{
    display: flex;
    width: 1180px;
    flex-direction: column;

    gap: 85px;
    margin-left: 80px;
}

#our_services{
    width: 284px;
    height: 74px;
    margin-left:0px;
    margin-top: 135px;
}

#our_services > h1{
    font-family: "Oswald" ,sans-serif ;
    font-size: 48px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 3.07200026512146px;
    text-align: left;
}
#our_services > span{
    display: block;
    width: 45px;
    height: 2px;
    background: #252525;
}


#menu_card{
    display: flex;
    gap: 28px;
    
    
}
.card{
    display: block;
    width: 373px;
    height: 260px;
    background:white; 
}

.card_underline > span{
    display: block;
    height: 3px;
    width: 0px;
    background: rgba(112, 191, 115, 1);

}

.card_underline:hover > span{
    display: block;
    height: 3px;
    width: 373px;
    background: rgba(112, 191, 115, 1);
    transition: 1.5s;

}


.branding_design {
    margin-top: 53px;
    margin-left: 44px;
}
.branding_design > h1{
    font-family: "Oswald" ,sans-serif ;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 1.28000009059906px;
    text-align: left;
    color: #252525;
}

.branding_design > span{
    display: block;
    width: 35px;
    height: 2px;
    background-color: #252525;
    margin-top: 15px;
}

.card  >p{
    display: block;
    width: 281px;
    height: 75px;

    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
    
    margin-left: 43px;
    margin-top: 19px;
}

.card > a{
    display: block;
    color: #252525;
    
    font-family: "Oswald" ,sans-serif ;
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0.65px;
    text-align: left;
    opacity: 50%;
    text-decoration: none;

    margin-left: 44px;
    margin-top: 19px;
}

#icon_card_1 {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    background-image: url(./services_image/graphic-design.png);
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 0px rgba(219, 219, 219, 1);
    background-position: center center;

    margin: 50px 48px 160px 275px;
}

#icon_card_2 {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    background-image: url(./services_image/pencil-case.png);
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 0px rgba(219, 219, 219, 1);
    background-position: center center;

    margin: 50px 48px 160px 275px;
}

#icon_card_3 {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    background-image: url(./services_image/coding.png);
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 0px rgba(219, 219, 219, 1);
    background-position: center center;

    margin: 50px 48px 160px 275px;
}

.header_card{
    display: flex;
    justify-content: space-between;
}

#blocks_latest_works {
    display: block;
    width: 1185px;
    height: 1652px;
    margin: auto;
    margin-top: 142px;
    
}

#latest_works_block_1{
    display: flex;
    position: absolute;
    width: 291px;
    height: 130px;
    flex-direction: column;

    
    margin-top: 57px;
    margin-left: 10px;
}

#latest_works_block_1 > h1{
    display: block;
    width: 289px;
    
    font-family: "Oswald" ,sans-serif ;
    font-size: 48px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 3px;
    text-align: left;  
    color: rgba(37, 37, 37, 1);

    margin-top: 12px;   
}

#latest_works_block_1 > span{
    width: 45px;
    height: 2px;
    background: rgba(37, 37, 37, 1);

    margin-top:15px; 
}

#latest_works_header{
    display: flex;
    position: absolute;
    width: 549px;
    height: 18px;
    gap: 40px;

    margin-left: 10px;
    margin-top: 182px;
}

#latest_works_header > a{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.8px;
    text-align: left;
    text-decoration: none;
    opacity: 30%;
    color: rgba(37, 37, 37, 1);
    
}

#latest_works_header > a:hover{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.8px;
    text-align: left;
    text-decoration: none;
    opacity: 100%;
    color:black;
    transition: 0.5s;   
}

#latest_works_block_2{
    display: block;
    width: 584px;
    height: 586px;
    position: absolute;
    
    background-image: url(./image_section_4/image_1.png);
    background-repeat: no-repeat;
    background-position: bottom 112px right 0px;

    margin-right: 10px;
    margin-top: 0px;
    margin-left: 595px;
}

#latest_works_block_2 > h1{
    display: block;
    width: 295px;
    height: 142px;
    position: absolute;

    font-family: "Oswald" ,sans-serif ;
    font-size: 48px;
    font-weight: 300;
    line-height: 71px;
    letter-spacing: 3px;
    text-align: left;

    margin-left: 0px;
    margin-top: 262px;
}

#latest_works_block_2 > h2{
    display: block;
    width: 116px;
    height: 25px;
    position: absolute;

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 1.15px;
    text-align: right;
    color:rgba(37, 37, 37, 1);
    
    margin-left: 343px;
    margin-top: 492px;
}

#latest_works_block_2 > p{
    display: block;
    width: 336px;
    height: 46px;
    position: absolute;

    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.8px;
    text-align: right;
    color: rgba(194, 194, 194, 1);
    
    margin-top: 530px;
    margin-left: 123px;

}

#latest_works_block_3{
    display: block;
    width: 584px;
    height: 596px;
    position: absolute;

    background-image: url(./image_section_4/image_2.png);
    background-repeat: no-repeat;
    background-position: bottom 152px left 0px;

    margin-top: 361px;
    margin-left: 0px;
}

#latest_works_block_3 > h1{
    display: block;
    width: 208px;
    height: 142px;
    position: absolute;

    font-family: "Oswald" ,sans-serif ;
    font-size: 48px;
    font-weight: 300;
    line-height: 71px;
    letter-spacing: 3px;
    text-align: left;
    text-decoration: line-through rgba(112, 191, 115, 1) 3px;

    margin-left: 370px;
    margin-top: 268px;
}

#latest_works_block_3 > h2{
    display: block;
    width: 116px;
    height: 25px;
    position: absolute;

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 1.15px;
    text-align: right;
    color:rgba(37, 37, 37, 1);
    
    margin-left: 174px;
    margin-top: 467px;
}

#latest_works_block_3 > p{
    display: block;
    width: 336px;
    height: 46px;
    position: absolute;

    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.8px;
    text-align: left;
    color: rgba(194, 194, 194, 1);
    
    margin-top: 512px;
    margin-left: 174px;
}

#latest_works_block_3 > a{
    display: block;
    width: 81px;
    height: 18px;
    position: absolute;

    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: left;
    color:rgba(37, 37, 37, 1); 
    text-decoration: line-through rgba(112, 191, 115, 1) 3px;
    
    margin-top: 578px;
    margin-left: 174px;
}

#latest_works_block_4{
    display: block;
    width: 584px;
    height: 555px;
    position: absolute;

    background-image: url(./image_section_4/image_3.png);
    background-repeat: no-repeat;
    background-position: bottom 111px left 129px;

    margin-top: 733px;
    margin-left: 601px;
}

#latest_works_block_4 > h1{
    display: block;
    width: 405px;
    height: 142px;
    position: absolute;

    font-family: "Oswald" ,sans-serif ;
    font-size: 48px;
    font-weight: 300;
    line-height: 71px;
    letter-spacing: 3px;
    text-align: left;

    margin-right: 182px;
    margin-top: 262px;
}

#latest_works_block_4 > h2{
    display: block;
    width: 116px;
    height: 25px;
    position: absolute;

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 1.15px;
    text-align: right;
    color:rgba(37, 37, 37, 1);
    
    margin-left: 337px;
    margin-top: 467px;
}

#latest_works_block_4 > p{
    display: block;
    width: 336px;
    height: 46px;
    position: absolute;

    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.8px;
    text-align: right;
    color: rgba(194, 194, 194, 1);
    
    margin-top: 509px;
    margin-left: 117px;
}

#latest_works_block_5{
    display: block;
    width: 609px;
    height: 558px;
    position: absolute;

    background-image: url(./image_section_4/image_4.png);
    background-repeat: no-repeat;
    background-position: bottom 114px right 154px;

    margin-top: 1094px;
    margin-right: 570px;
}

#latest_works_block_5 > h1{
    display: block;
    width: 239px;
    height: 142px;
    position: absolute;

    font-family: "Oswald" ,sans-serif ;
    font-size: 48px;
    font-weight: 300;
    line-height: 71px;
    letter-spacing: 3px;
    

    margin-left: 370px;
    margin-top: 268px;
}

#latest_works_block_5 > h2{
    display: block;
    width: 116px;
    height: 25px;
    position: absolute;

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 1.15px;
    color:rgba(37, 37, 37, 1);
    
    margin-left: 174px;
    margin-top: 467px;
}

#latest_works_block_5 > p{
    display: block;
    width: 336px;
    height: 46px;
    position: absolute;

    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.8px;
    color: rgba(194, 194, 194, 1);
    
    margin-top: 512px;
    margin-left: 174px;
}

#view_more{
    display: block;
    width: 69px;
    height: 19px;
    position: absolute;

    font-family: "Oswald" ,sans-serif ;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 2px;
    cursor: default;

    margin-top: 1629px;
    margin-left: 1118px;
}

#section-5{
  display: flex;
  width: 100%;
  height: 100vh; 
  background: rgba(251, 251, 251, 1);
  justify-content: center;

  margin-top: 100px;
}

#TEAM{
    display: flex;
    width: 1166px;
    height: 550px;
    flex-direction: column;
    

    gap: 71px;
}

#team_header{
    display: block;
    width: 205px;
    height: 74px;
    
    margin-top: 135px;
}

#team_header > h1{
    display: block;
    width: 205px;
    height: 71px;

    font-family: "Oswald" ,sans-serif ;
    font-size: 48px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 3px;
    text-align: left;
}

#team_header > span{
    display: block;
    width: 45px;
    height: 2px;
    background: rgba(37, 37, 37, 1);    
}

#image_team{
    display: flex;
    flex-direction: row;
    gap: 28px;
}

#section-6 {
    display: flex;
    height: 504px;
    width: 100%;

    justify-content: center;
}
#reviews {
    display: flex;
    width: 1172px;
    height: 270px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 117px;
    gap: 30px;
}

#reviews > p{
    display: block ;
    width: 735px;
    height: 93px;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 31px;
    letter-spacing: 0.8px;
    text-align: center;
}

#reviews > img{
    display: block;
    width: 20px;
    height: 20px;
}

#reviews_name{
    display: flex;
    width: 182px;
    height: 27px;
}

#reviews_name > p{
    font-family: "Oswald" ,sans-serif ;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1.15px;
    text-align: center;
}

#reviews_name > span{
  font-family: "Oswald" ,sans-serif ;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0.9px;
  text-align: center;
  color: rgba(184, 184, 184, 1);

  margin-top: 3px;
  margin-left: 7px;
}
#stars{
    display: block;
    width: 115px;
    height: 15px;
    background-image: url(./image_other/Stars.png);
    background-repeat: no-repeat;

}

#arrows{
    display: block;
    width: 1172px;
    height: 20px;
    position: absolute;
    background-image: url(./image_other/Arrows.png);
    margin-top: 238px;
}

#reviews>span{
    display: block;
    width: 511px;
    height: 1px;
    position: absolute;
    background: rgba(216, 216, 216, 1);
    margin-top: 269px;
    opacity: 50%;
}
#section-7{
    display: flex;
    width: 100%;
    height: 300px;
}
#Work_Together{
    display: flex;
    width: 50%;
    height: 300px;

    flex-direction: column;
    align-items: center;
    background: rgba(251, 251, 251, 1);

    
}

#Work_Together > img{
    display: block;
    width: 35px;
    height: 35px;

    margin-top: 69px;
}

#Work_Together > h1{
    display: block;
    width: 264px;
    height: 36px;

    font-family: "Oswald" ,sans-serif ;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 2.6px;
    text-align: center;

    margin-top: 19px;
}

#Work_Together > span{
    display: block;
    width: 279px;
    height: 19px;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-align: center;
    opacity: 80%;

    margin-top: 22px;
}


#ContactUs{
    display: flex;
    width: 50%;
    height: 300px;

    background: rgba(112, 189, 89, 1);
    flex-direction: column;
    align-items: center;
}

#ContactUs > img{
    display: block;
    width: 35px;
    height: 35px;

    margin-top: 72px;
}

#ContactUs > h1{
    display: block;
    width: 120px;
    height: 36px;

    font-family: "Oswald" ,sans-serif ;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 2.6px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

    margin-top: 16px;
}

#ContactUs > span{
    display: block;
    width: 98px;
    height: 19px;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    opacity: 80%;

    margin-top: 22px;
}

#footer{
    display: flex;
    width: 100%;
    height: 339px;
    background: rgba(46, 46, 46, 1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_adress{
    display: block;
    width: 259px;
    height: 17px;

    font-family: "Oswald" ,sans-serif ;
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0.8px;
    opacity: 50%;
    text-align: center;
    color:rgba(255, 255, 255, 1);
    
    margin-top: 10px;
}

#social{
    display: flex;
    width: 138px;
    height: 32px;
    gap: 21px;

    margin-top: 39px;
}